#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;   
    
}

.bg{
    object-fit: cover;
   height: 40vh;
   justify-content: center;
   
   
}
.introContent{
    height: 100vh;
    text-align: center;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content:center;

}
.hello{
    font-size: 1.75rem;
    font-weight: 100;

}
.introName{
    color: red;
    -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 5s infinite both;
	        animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 5s infinite both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border:none ;
    border-radius: 2rem;
    transition: 0.2s all;   
}
.btn:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}
.btn:hover{
    cursor: pointer;
    color: red;
    
    box-shadow: 0px 5px 15px rgba(214, 0, 28, 0.8);
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
.arrow{
    height: 1.5vh;
    padding-right: .75rem;
}
@media screen and (max-width:900px) 
{
    .bg{
        /* height: 50vh; */
        /* position:relative; */
        padding: 0%;
    }    
    .introContent{
        padding-top: 0% ;

        justify-content: flex-start;
        
    }
}


    
        
    
    


